body{
    font-family: Roboto;
    color: #434455;
    background-color:  #FFF;;
    line-height: 1.5;
}
h1, h2, h3,{
    font-family: Roboto, Montserrat, Raleway, sans-serif;
         
}
ul{
    list-style-type: none;
}
.accent{
    color: #4D5AE5;
    }
 .accent-two{
 color: #2E2F42;
 }
.accent-two, .accent{
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        }
    .post-menu{
        color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.32px;
    }
    .post-menu-link: hover, .post-menu-link: active{
         color: #404BBF;
    }

    .post-social-links{
        color: #434455;
        font-size: 16px;
        letter-spacing: 0.32px;
    }
    .post-social-links: hover{
        color: #404BBF;

    }
    .post-section{
        background: #2E2F42;
        width: 1440px;
        height: 600px;
        flex-shrink: 0;
    }
    .post-section-title{
        color: #FFF;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 1.12px;
        width: 496px;
    }
    button{
        border-radius: 4px;
        background: #4D5AE5;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        display: inline-flex;
        padding: 16px 32px;
        align-items: flex-start;
        gap: 10px;
        cursor: pointer;
    }
    button: hover{
        color: #404BBF;

    }
    .accent-button{
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
    }
    .post-title-secondary{
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
        width: 264px;
    }
    .post-text{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
    }
    .post-section-three{
        background: #F4F4FD;
    }
    .post-title{
        color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }
    footer{
        background: #2E2F42;
    }
    .post-footer-text{
        color: #F4F4FD;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
    }
    .accent-three{
        color: #F4F4FD;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
    }